# Ignore node_modules directory
node_modules/

# Ignore log files
npm-debug.log
*.log

# Ignore environment variables
.env

# Ignore coverage reports
coverage/

# Ignore Git files
.git
.gitignore

# Ignore editor configurations
.vscode/
.editorconfig

# Ignore distribution files
dist/
